﻿
/********************************************
************LAYOUT STARTS HERE ********************************************
*********************************************/


#side-menu, body {
    background-color: #212529;
}

html, #page-content-wrapper {
    background-color: #fff;
}

#side-menu {
    width: 250px;
    position: absolute;
    min-height: 100%;
    background-color: #212529;
    top: 0;
    left: -250px;
	z-index:1;
}

#page-content-wrapper {
    position: relative;
    margin-left: 0;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    /*height:100%;*/
}

#page-header .navbar {
    background-color: #FFFFFF;
    border: 1px solid #DDD;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
/*margin-right: 4rem;*/
#page-header .navbar-light .navbar-nav .nav-link {
    color: #6d6d6d;
}

    #page-header .navbar-light .navbar-nav .active > .nav-link,
    #page-header .navbar-light .navbar-nav .nav-link.active,
    #page-header .navbar-light .navbar-nav .nav-link.open,
    #page-header .navbar-light .navbar-nav .open > .nav-link {
        color: black;
        background-color: #fbfbfb;
    }

	.sidebar-toggler{
		display:block;
		position: absolute;
		left: 0;
		top: 0;
	}

.navbar-brand {
	margin-left: 1.2rem;
}

#side-menu.show{
	display:block;
	left:0;
	transition: left .5s ease;

}
@media (min-width: 992px) {
	.navbar-brand {
	margin-left: 0;
}
	.logout-button{
		position: initial!important;
		
	}
	#side-menu {
		display:block;
		z-index:0;
		left:0;
	}
	.sidebar-toggler{
		display:none;
	}
    #page-content-wrapper {
        margin-left: 250px;
        width: calc(100% - 250px);
    }

    .navbar-toggleable-md .navbar-nav {
        margin-right: 4rem;
    }

        .navbar-toggleable-md .navbar-nav .nav-link {
            padding: 1.2rem;
        }

    #page-header .navbar {
        padding-top: 0;
        padding-bottom: 0;
    }
}

/********************************************
************LAYOUT ENDS HERE ********************************************
*********************************************/





/*
Customized hamburger. That's based on your need
*/

	.hamburger-inner:before {
    top: -5px;
}
	.hamburger-inner:after {
    bottom: -5px;
}
	.hamburger--arrowturn-r.is-active .hamburger-inner:before {
    transform: translate3d(-3px,0,0) rotate(-45deg) scaleX(.7);
}
.hamburger--arrowturn-r.is-active .hamburger-inner:after {
    transform: translate3d(-3px,0,0) rotate(45deg) scaleX(0.7);
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
{
	    width: 20px;
    height: 4px;
}
.hamburger-box {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 24px;
}
.hamburger {
	padding: 12px;
}

/*
* Hero box based on your need
*/
/* The hero image */
.hero-image-wrapper {
    height: 23rem;
    width: 100%;
}

.hero-image {
    /* The image used */
    background-image: url('../../images/homepage-hero.jpeg');
    /*background-image: url("photographer.jpg");*/
    /* Set a specific height */
    height: 23rem;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* color: #fff; */
    color: #fff; 
    text-shadow: 2px 2px 6px #000000;
}

.logout-button{
       position: absolute;
    right: 5rem;
	    padding: .25rem .75rem;
    font-size: 1.25rem;
	    margin-top: 0!important;
}