<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
{% load staticfiles %}
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'hostingportal/assets/img/apple-icon.png' %}" />
    <link rel="icon" type="image/png" href="{% static 'hostingportal/assets/img/favicon.png' %}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{% block title %}{% endblock %}</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="{% static 'hostingportal/assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link href="{% static 'hostingportal/assets/css/material-dashboard.css' %}" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static 'hostingportal/assets/css/demo.css' %}" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
</head>

<script>
  src="{% static 'hostingportal/js/jquery.js' %}"
</script>

<body>
    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="{% static 'hostingportal/assets/img/sidebar-1.jpg' %}">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="logo">
                <a href="{% url 'hosting:index' %}" class="simple-text">
                    DomainBox
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="{% block dashboard_active %}{% endblock %}">
                        <a href="{% url 'hosting:portal' %}">
                            <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="{% block profile_active %}{% endblock %}">
                        <a href="{% url 'hosting:profile' %}">
                            <i class="material-icons">person</i>
                            <p>User Profile</p>
                        </a>
                    </li>
                    <li class="{% block search_active %}{% endblock %}">
                        <a href="{% url 'hosting:search_domain' %}">
                            <i class="material-icons">search</i>
                            <p>Buy a domain</p>
                        </a>
                    </li>
                    <li class="{% block subscriptions_active %}{% endblock %}">
                        <a href="{% url 'hosting:domain_list' %}">
                            <i class="material-icons">content_paste</i>
                            <p>My Domains</p>
                        </a>
                    </li>
                    <li class="{% block messages_active %}{% endblock %}">
                        <a href="{% url 'hosting:messages' %}">
                            <i class="material-icons">notifications</i>
                            <p>Notifications</p>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'hosting:logout_user' %}">
                            <i class="material-icons">exit_to_app</i>
                            <p>Logout</p>
                        </a>
                    </li>


                    <li class="active-pro">
                        <a href="upgrade.html">
                            <i class="material-icons">unarchive</i>
                            <p>Contact Us</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"> Hi, {{ request.user }} </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">dashboard</i>
                                    <p class="hidden-lg hidden-md">Dashboard</p>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="material-icons">notifications</i>
    <span class="notification">{{ messages.count }}</span>
    <p class="hidden-lg hidden-md">Notifications</p>
</a>
    <ul class="dropdown-menu">
        {% for message in messages  %}
            <li>
        <a href="#">{{ message.content }}</a>
            </li>

        {% endfor %}


    </ul>

                            </li>
                            <li>
                                <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">person</i>
                                    <p class="hidden-lg hidden-md">Profile</p>
                                </a>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group  is-empty">
                                <input type="text" class="form-control" placeholder="Domain Search">
                                <span class="material-input"></span>
                            </div>
                            <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
            <div class="content">
                {% block body %}

                {% endblock %}
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="{% url 'hosting:portal' %}">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Contact Us
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Terms and Conditions
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                        <a href="{% url 'hosting:portal' %}">Domain Box</a>
                    </p>
                </div>
            </footer>
        </div>
    </div>
</body>
<!--   Core JS Files   -->
{% load staticfiles %}
<script src="{% static 'hostingportal/assets/js/jquery-3.2.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'hostingportal/js/jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'hostingportal/assets/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'hostingportal/assets/js/material.min.js' %}" type="text/javascript"></script>
<!--  Charts Plugin -->
<script src="{% static 'hostingportal/assets/js/chartist.min.js' %}"></script>
<!--  Dynamic Elements plugin -->
<script src="{% static 'hostingportal/assets/js/arrive.min.js' %}"></script>
<!--  PerfectScrollbar Library -->
<script src="{% static 'hostingportal/assets/js/perfect-scrollbar.jquery.min.js' %}"></script>
<!--  Notifications Plugin    -->
<script src="{% static 'hostingportal/assets/js/bootstrap-notify.js' %}"></script>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="#"></script>
<!-- Material Dashboard javascript methods -->
<script src="{% static 'hostingportal/assets/js/material-dashboard.js' %}"></script>


</html>