<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
<title>{% block title %}{% endblock %}</title>

    {% load staticfiles %}
<link rel="stylesheet" href="{% static 'hostingportal/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'hostingportal/css/font-awesome.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'hostingportal/css/slick.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'hostingportal/css/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'hostingportal/css/style2.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'hostingportal/css/purple-theme.css' %}"/>
     {% block header %}{% endblock %}
    <script
  src="https://code.jquery.com/jquery-2.0.0.min.js"
  integrity="sha256-1IKHGl6UjLSIT6CXLqmKgavKBXtr0/jJlaGMEkh+dhw="
  crossorigin="anonymous"></script>
</head>

<body onload="init();">
<div id="header" class="container-fluid">
  <div class="color-overlay accent-color-bg"></div>
  <div class="container-fluid logo-menu">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 text-left">
          <canvas id="logo-canvas" width="50" height="50"></canvas>
          <div class="logo-text">DomainBox</div>
        </div>
        <div class="col-xs-6 text-right">
          <div id="default-button" class="menu-button">
            <div class="fa fa-circle-o"></div>
            <div class="fa fa-circle-o"></div>
            <div class="fa fa-circle-o"></div>
          </div>
            <div id="default-menu" class="fullpage-menu">
                <div class="close-btn"><img src="{% static 'hostingportal/images/close-btn.png' %}" alt=""></div>
                <div class="menu-holder">
                    <ul>
                        <li><a class="menu-link" href="#header">Home</a></li>
                        <li><a class="menu-link" href="#features">Features</a></li>
                        <li><a class="menu-link" href="#pricing">Pricing</a></li>
                        <li><a class="menu-link" href="#contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

{% block body %}

{% endblock %}
<div id="contact" class="container-fluid accent-color-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 row-title"> Contact Us </div>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <div class="sub-title">Location information</div>
        <p> John doe<br>
          Street 38, Blcok 1205<br>
          Road 544<br>
          United Kingdom. </p>
        <p> +123 58230189<br>
          <a href="http://brandio.io/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="d5b6babba1b4b6a195bdbaa1a6a1b7baadfbb6bab8">[email&#160;protected]</a> </p>
      </div>
      <div class="col-sm-7">
        <form id="contactform" method="post" action="#">
            <div class="form-items-holder">
                <div><input type="text" id="name" name="name" placeholder="Name" required></div>
                <div><input type="email" id="email" name="email" placeholder="Email" required></div>
                <div class="form-label">Message</div>
                <div><textarea id="message" name="message" required></textarea></div>
                <div class="ajax-button">
                   <div class="fa fa-check done"></div>
            	   <div class="fa fa-close failed"></div>
                   <input id="submit" type="submit" value="Send It">
                </div>
                <div id="form-messages"></div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>

{% load staticfiles %}
<script src="{% static 'hostingportal/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'hostingportal/js/bootstrap.min.js' %}"></script>
<script src="{% static 'hostingportal/js/modernizr-custom.js' %}"></script>
<script src="{% static 'hostingportal/js/slick.min.js' %}"></script>
<script src="{% static 'hostingportal/js/createjs.min.js' %}"></script>
<script src="{% static 'hostingportal/js/logo.js' %}"></script>
<script src="{% static 'hostingportal/js/main.js' %}"></script>
<script src="{% static 'hostingportal/js/index.js' %}"></script>
</body>
</html>
