{% extends 'hostingportal/base_clientportal.html' %}
{% block subscriptions_active %}
active
{% endblock %}
{% block title %}
DomainBox : My Domains
{% endblock %}
{% block body %}
    <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Domains</h4>
                                    <p class="category">Here is a list of domains on your account</p>
                                </div>
                                <div class="card-content table-responsive">
                                    <table class="table">
                                        <thead class="text-primary">
                                            <tr><th>S/n</th>
                                            <th>Domain Name</th>
                                            <th>Expires</th>
                                            <th>Status</th>
                                        </tr></thead>
                                        <tbody>
                                            <tr>
                                                <td>Dakota Rice</td>
                                                <td>Niger</td>
                                                <td>Oud-Turnhout</td>
                                                <td class="text-primary">$36,738</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




{% endblock %}