{% extends 'hostingportal/base_clientportal.html' %}

{% block title %}
DomainBox : Search for domains
{% endblock %}
{% block search_active %}
active
{% endblock %}
{% block body %}
    <div class="row">
<div class="col-md-8">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Domain Search</h4>
                                    <p class="category">Enter a domian to check availability </p>
                                </div>
                                <div class="card-content">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group label-floating is-empty">
                                                    <label class="control-label">Adress</label>
                                                    <input type="text" class="form-control">
                                                <span class="material-input"></span></div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary pull-right">Search</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
    <div class="col-md-4">
   <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Recent searchs</h4>
                                    <p class="category"></p>
                                </div>
                                <div class="card-content">
                                    <ul>
                                        <a>Search 1</a>
                                        <a>Search 2</a>
                                        <a>Search 3</a>
                                    </ul>
                                </div>
                            </div>
    </div>



</div>
    <div class="row">

    </div>

{% endblock %}