{% extends 'hostingportal/base.html' %}
{% block title %}DomainBox{% endblock %}
{% block body %}
   <div class="container">
    <div class="row header-content">
      <div class="col-xs-12 text-center">
        <div class="header-text-1"> 
          <div class="word">Affordable</div>
        </div>
        <div class="header-text-2">Domain Names</div>
        <div class="header-text-3">Starting From As Low As
          <div class="currency">&#8358;</div>
          <div class="price">360.00</div>
          <div class="duration">/Year</div>
        </div>
        <a href="{% url 'hosting:login_user' %}"><div class="signup-button">Get Started!</div></a>
      </div>
    </div>
  </div>
</div>

<div id="partners" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="partners-slider">
            {% load staticfiles %}
          <div><img src="{% static 'hostingportal/images/partners/1.jpg' %}" alt=""></div>
          <div><img src="{% static 'hostingportal/images/partners/2.jpg' %}" alt=""></div>
          <div><img src="{% static 'hostingportal/images/partners/3.jpg' %}" alt=""></div>
          <div><img src="{% static 'hostingportal/images/partners/4.jpg' %}" alt=""></div>
          <div><img src="{% static 'hostingportal/images/partners/5.jpg' %}" alt=""></div>
          <div><img src="{% static 'hostingportal/images/partners/6.jpg' %}" alt=""></div>
          <div><img src="{% static 'hostingportal/images/partners/7.jpg' %}" alt=""></div>
          <div><img src="{% static 'hostingportal/images/partners/8.jpg' %}" alt=""></div>
          <div><img src="{% static 'hostingportal/images/partners/9.jpg' %}" alt=""></div>
          <div><img src="{% static 'hostingportal/images/partners/10.jpg' %}" alt=""></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="features" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 row-title accent-color-text"> Our Hosting Features </div>
    </div>
    <div class="row feature-buttons-holder">
      <div class="box3d">
        <div class="box3d-top box3d-part accent-color-bg"></div>
        <div class="box3d-left box3d-part accent-color-bg"></div>
        <div class="box3d-right box3d-part accent-color-bg"></div>
      </div>
      <div class="feature-button feature1 color1-bg inside-box-left" data-num="1">
        <div class="feature-icon"><img src="images/feature1.png" alt=""></div>
        <div class="feature-title">Custom</div>
        <div class="feature-line color1-border feature-line-hide"></div>
        <div class="feature-star fa fa-star color1 feature-star-hide"></div>
      </div>
      <div class="feature-button feature2 color2-bg inside-box-left" data-num="2">
        <div class="feature-icon"><img src="images/feature2.png" alt=""></div>
        <div class="feature-title">Smart</div>
        <div class="feature-line color2-border feature-line-hide"></div>
        <div class="feature-star fa fa-star color2 feature-star-hide"></div>
      </div>
      <div class="feature-button feature3 color3-bg inside-box-right" data-num="3">
        <div class="feature-icon"><img src="images/feature3.png" alt=""></div>
        <div class="feature-title">Backups</div>
        <div class="feature-line color3-border feature-line-hide"></div>
        <div class="feature-star fa fa-star color3 feature-star-hide"></div>
      </div>
      <div class="feature-button feature4 color4-bg inside-box-right" data-num="4">
        <div class="feature-icon"><img src="images/feature4.png" alt=""></div>
        <div class="feature-title">Award Winning</div>
        <div class="feature-line color4-border feature-line-hide"></div>
        <div class="feature-star fa fa-star color4 feature-star-hide"></div>
      </div>
    </div>
  </div>
</div>
<div id="feature-details1" class="container-fluid f-details color1-bg hide-f-details">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="feature-icon"><img src="images/feature1.png" alt=""></div>
        <div class="feature-title">Custom</div>
        <div class="feature-text"> Benefit from a pool of custom domain names that suites your business.</div>
      </div>
    </div>
  </div>
</div>
<div id="feature-details2" class="container-fluid f-details color2-bg hide-f-details">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="feature-icon"><img src="images/feature2.png" alt=""></div>
        <div class="feature-title">Smart</div>
        <div class="feature-text">Various plan options that meet your requirements. Upgrade is so easy!</div>
      </div>
    </div>
  </div>
</div>
<div id="feature-details3" class="container-fluid f-details color3-bg hide-f-details">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="feature-icon"><img src="images/feature3.png" alt=""></div>
        <div class="feature-title">Backups</div>
        <div class="feature-text"></div>
      </div>
    </div>
  </div>
</div>
<div id="feature-details4" class="container-fluid f-details color4-bg hide-f-details">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="feature-icon"><img src="images/feature4.png" alt=""></div>
        <div class="feature-title">Award wining </div>
        <div class="feature-text"> Spotted as a fast growing domain reseller platform </div>
      </div>
    </div>
  </div>
</div>
<div id="pricing" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 row-title accent-color-text"> Popular Domain Prices </div>
    </div>
    <div class="row">
      <div class="col-xs-12 row-sub-title accent-color-text">
       We offer some of the cheapest domain name registration services. We offer an abundance of free tools for managing domain names.
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 price-column">
            <div class="price-table pr-color1">
                <div class="price-top-bar">
                    <div class="pbar color1-bg"></div>
                    <div class="diamond">
                        <div class="diamond-back"><div class="color1-bg"></div></div>
                        <div class="diamond-top"><div class="color1-bg"></div></div>
                        <div class="diamond-bottom"><div class="color1-bg"></div></div>
                    </div>
                </div>
                <div class="price-title color1-bg">.NG</div>
                <div class="price accent-color-text">
                    <span class="monthly-num"><span class="currency">&#8358;</span>7,000.00</span>
                </div>
                <div class="duration accent-color-text">
                    <span class="monthly-obj">/yearly</span>
                </div>
                <div class="price accent-color-text">
                    <span class="monthly-num"><span class="currency">&#8358;</span>18,000.00</span>
                </div>
                <div class="duration accent-color-text">
                    <span class="monthly-obj">/tri-annually</span>
                </div>
                <ul class="details-list">
                    
                </ul>
                <a href="#" class="price-btn"><div class="pr-signup-button accent-color-bg">Get Started</div></a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 price-column">
            <div class="price-table pr-color2">
                <div class="price-top-bar">
                    <div class="pbar color2-bg"></div>
                    <div class="diamond">
                        <div class="diamond-back"><div class="color2-bg"></div></div>
                        <div class="diamond-top"><div class="color2-bg"></div></div>
                        <div class="diamond-bottom"><div class="color2-bg"></div></div>
                    </div>
                </div>
                <div class="price-title color2-bg">.COM</div>
                <div class="price accent-color-text">
                    <span class="monthly-num"><span class="currency">&#8358;</span>2,600.00</span>
                </div>
                <div class="duration accent-color-text">
                    <span class="monthly-obj">/yearly</span>
                </div>
                <div class="price accent-color-text">
                    <span class="monthly-num"><span class="currency">&#8358;</span>11,000.00</span>
                </div>
                <div class="duration accent-color-text">
                    <span class="monthly-obj">/5 years</span>
                </div>
                <ul class="details-list">
                   
                </ul>
                <a href="#" class="price-btn"><div class="pr-signup-button accent-color-bg">Get Started</div></a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 price-column">
            <div class="price-table pr-color3">
                <div class="price-top-bar">
                    <div class="pbar color3-bg"></div>
                    <div class="diamond">
                        <div class="diamond-back"><div class="color3-bg"></div></div>
                        <div class="diamond-top"><div class="color3-bg"></div></div>
                        <div class="diamond-bottom"><div class="color3-bg"></div></div>
                    </div>
                </div>
                <div class="price-title color3-bg">.ORG</div>
                <div class="price accent-color-text">
                    <span class="monthly-num"><span class="currency">&#8358;</span>3,100.00</span>
                </div>
                <div class="duration accent-color-text">
                    <span class="monthly-obj">/yearly</span>
                </div>
                <div class="price accent-color-text">
                    <span class="monthly-num"><span class="currency">&#8358;</span>7,400.00</span>
                </div>
                <div class="duration accent-color-text">
                    <span class="monthly-obj">/tri-annually</span>
                </div>
                <ul class="details-list">
                    
                </ul>
                <a href="#" class="price-btn"><div class="pr-signup-button accent-color-bg">Get Started</div></a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 price-column">
            <div class="price-table pr-color4">
                <div class="price-top-bar">
                    <div class="pbar color4-bg"></div>
                    <div class="diamond">
                        <div class="diamond-back"><div class="color4-bg"></div></div>
                        <div class="diamond-top"><div class="color4-bg"></div></div>
                        <div class="diamond-bottom"><div class="color4-bg"></div></div>
                    </div>
                </div>
                <div class="price-title color4-bg">.COM.NG</div>
                <div class="price accent-color-text">
                    <span class="monthly-num"><span class="currency">&#8358;</span>2,300.00</span>
                </div>
                <div class="duration accent-color-text">
                    <span class="monthly-obj">/bi-annually</span>
                </div>
                <div class="price accent-color-text">
                    <span class="monthly-num"><span class="currency">&#8358;</span>5,300.00</span>
                </div>
                <div class="duration accent-color-text">
                    <span class="monthly-obj">/5 years</span>
                </div>
                <ul class="details-list">
                   
                </ul>
                <a href="#" class="price-btn"><div class="pr-signup-button accent-color-bg">Get Started</div></a>
            </div>
        </div>
    </div>
  </div>
</div>


<div id="info3" class="container-fluid info">
  <div class="container">
    <div class="row">
    	<div class="col-md-8 info-text">
        	<h2 class="info-color3">Cloud Host that made easy</h2>
            <ul class="fa-ul">
            	<li><i class="fa-li fa fa-circle-thin info-color3"><i class="fa fa-check info-color3"></i></i>Duis posuere blandit orci sed tincidunt. Curabitur porttitor nisi ac nunc ornare, in fringilla nisl blandit</li>
                <li><i class="fa-li fa fa-circle-thin info-color3"><i class="fa fa-check info-color3"></i></i>Duis posuere blandit orci sed tincidunt. Curabitur porttitor nisi ac nunc ornare, in fringilla nisl blandit</li>
            </ul>
        </div>
        <div class="col-md-4 info-image">
        	<img src="images/contact.png" alt="">
        </div>
    </div>
  </div>
</div>

<!-- testimonials-->
<div id="testimonials" class="container-fluid">
  <div class="container">
    <div class="row">
    	<div class="col-xs-12 message-icon-holder">
        	<div class="message-icon">
            	<div class="message-icon-body accent-color-bg">...</div>
                <div class="message-icon-arrow accent-color-border"></div>
            </div>
        </div>
        <div class="col-xs-12 testimonial-text-holder">
        	<div class="testimonial-text t1 accent-color-text">
            	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>
        </div>
        <div class="col-xs-12">
        	 <div class="people-slider">
          		<div class="person-details person-details-show" data-num="1">
                	<div class="person-image-holder">
                		<img class="person-image" src="images/people/1.jpg" alt="">
                    </div>
                    <div class="person-details-holder">
                    	<div class="person-name">Jane Doe</div>
                        <div class="person-title">Job Title</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>




{% endblock %}