{% extends 'hostingportal/base.html' %}
  {% block title %} Clients Portal : Authenticate {% endblock %}
{% block header %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
 {% endblock %}
{% block body %}
  <div class="logmod">
  <div class="logmod__wrapper">
    <span class="logmod__close">Close</span>
    <div class="logmod__container">
      <ul class="logmod__tabs">
        <li data-tabtar="lgm-2"><a href="#">Login</a></li>
        <li data-tabtar="lgm-1"><a href="#">Sign Up</a></li>
      </ul>
      <div class="logmod__tab-wrapper">
      <div class="logmod__tab lgm-1">
        <div class="logmod__heading">
          <span class="logmod__heading-subtitle">Enter your personal details <strong>to create an acount</strong></span>
        </div>
      <!-- Create User Account -->
        <div class="logmod__form">
         <form class="simform" role="form" action="{% url 'hosting:register' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
            <div class="sminputs">
              <div class="input full">
                <label class="string optional" for="user-name">Firstname*</label>
                {{ form.first_name }}
              </div>
            </div>
              <div class="sminputs">
              <div class="input full">
                <label class="string optional" for="user-name">Lastname*</label>
                {{ form.last_name }}
              </div>
            </div>
             <div class="sminputs">
              <div class="input full">
                <label class="string optional" for="user-name">Username*</label>
                {{ form.username }}
              </div>
            </div>
              <div class="sminputs">
              <div class="input full">
                <label class="string optional" for="user-name">Email*</label>
               {{ form.email }}
              </div>
            </div>
            <div class="sminputs">
              <div class="input string optional">
                <label class="string optional" for="user-pw">Password *</label>
                {{ form.password }}
              </div>
              <div class="input string optional">
                <label class="string optional" for="user-pw-repeat">Repeat password *</label>
                {{ form.rpassword }}
              </div>
            </div>
            <div class="simform__actions">
                <button class="sumbit">Create Account</button>
              <span class="simform__actions-sidetext">By creating an account you agree to our <a class="special" href="#" target="_blank" role="link">Terms & Privacy</a></span>
            </div> 
          </form>
        </div> 
    <div class="row">
        <div class="col-md-6 con">
            <a href="{% url 'social:begin' 'facebook' %}" class="connect facebook">
              <div class="connect__icon">
                <i class="fa fa-facebook"></i>
              </div>
              <div class="connect__context">
                <span>Sign in with <strong>Facebook</strong></span>
              </div>
            </a>
        </div>
        <div class="col-md-6 con">
            <a href="{% url 'social:begin' 'google-oauth2' %}" class="connect googleplus">
              <div class="connect__icon">
                <i class="fa fa-google-plus"></i>
              </div>
              <div class="connect__context">
                <span>Sign in with <strong>Google+</strong></span>
              </div>
            </a>
        </div>
        </div>
      </div>
      <div class="logmod__tab lgm-2">
        <div class="logmod__heading">
          <span class="logmod__heading-subtitle">Enter your email and password <strong>to sign in</strong></span>
              {% if error_message %}
            <p>{{ error_message }}</p>
            {% endif %}
        </div>

          <!-- Sign in -->
        <div class="logmod__form">

          <form accept-charset="utf-8" action="{% url 'hosting:login_user' %}" class="simform" method="post" enctype="multipart/form-data">
              {% csrf_token %}
            <div class="sminputs">
              <div class="input full">
                <label class="string optional" for="user-name">Email*</label>
                {{ form.username }}
              </div>
            </div>
            <div class="sminputs">
              <div class="input full">
                <label class="string optional" for="user-pw">Password *</label>
                {{ form.password }}
                						<span class="hide-password">Show</span>
              </div>
            </div>
            <div class="simform__actions">
                <button class="sumbit">Log In</button>
              <span class="simform__actions-sidetext"><a class="special" role="link" href="#">Forgot your password?<br>Click here</a></span>
            </div> 
          </form>
        </div>
    <div class="row">
        <div class="col-md-6 con">
            <a href="{% url 'social:begin' 'facebook' %}" class="connect facebook">
              <div class="connect__icon">
                <i class="fa fa-facebook"></i>
              </div>
              <div class="connect__context">
                <span>Sign in with <strong>Facebook</strong></span>
              </div>
            </a>
        </div>
        <div class="col-md-6 con">
            <a href="{% url 'social:begin' 'google-oauth2' %}" class="connect googleplus">
              <div class="connect__icon">
                <i class="fa fa-google-plus"></i>
              </div>
              <div class="connect__context">
                <span>Sign in with <strong>Google+</strong></span>
              </div>
            </a>
        </div>
        </div>
    </div>

      </div>
    </div>
  </div>
</div>
     {% if error_message %}
            <script>
            alert('{{ error_message }}')
            </script>
            {% endif %}
{% endblock %}

