{% extends 'hostingportal/base_clientportal.html' %}

{% block title %}
DomainBox : Profile
{% endblock %}

{% block profile_active %}
active
{% endblock %}


{% block body %}
<div class="container-fluid">
    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Edit Profile</h4>
                                    <p class="category">Complete your profile</p>

                                </div>
                                <div class="card-content">
                                    <form action="{% url 'hosting:profile' %}" method="POST">
                                    {% csrf_token %}
                                        <div class="row">
                                            {% if error_message %}
                                            <div class="alert alert-info">
                                            <div class="container-fluid">
                                              <div class="alert-icon">
                                                <i class="material-icons">info_outline</i>
                                              </div>{{ error_message }}
                                            </div>
                                            </div>
                                            {% endif %}
                                            <div class="col-md-6">




                                                <div class="form-group label-floating">
                                                    {{ form.username }}
{#                                                    <input type="text" class="form-control" value="{{ form.username }}" disabled>#}
                                                <span class="material-input"></span></div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Email</label>
                                                {{ form.email }}
                                                <span class="material-input"></span></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">First Name</label>
                                                    {{ form.first_name }}
                                                <span class="material-input"></span></div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Last Name</label>
                                                    {{ form.last_name }}
                                                <span class="material-input"></span></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Address</label>
                                                    {{ formset.contact_address }}
                                                <span class="material-input"></span></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">City</label>
                                                    {{ formset.city }}
                                                <span class="material-input"></span></div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Country</label>
                                                    {{ formset.country }}
                                                <span class="material-input"></span></div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Telephone</label>
                                                    {{ formset.telephone }}
                                                <span class="material-input"></span></div>
                                            </div>

                                        </div>
                                    <div class="row">

                                        <button class="btn btn-primary pull-right">Update Profile</button>
                                        <div class="clearfix"></div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-profile">
                                <div class="card-avatar">
                                    <a href="#pablo">
                                        {% load static %}
                                        <img class="img" src="{% static 'hostingportal/images/people/1.jpg' %}">
                                    </a>
                                </div>
                                <div class="content">
                                    <h6 class="category text-gray">{{ form.groups.get }}</h6>
                                    <h4 class="card-title">{{ user.get_full_name }}</h4>
                                    <button class="btn btn-primary">Select Photo</button>

                                </div>
                            </div>
                        </div>
                    </div>
</div>

{% endblock %}